{% assign cardProduct=product %}

<div>
<a href="{{ cardProduct.url }}">
  <img src="{{ cardProduct.featured_image  |image_url:"master" }}" height="20%" width="3=20%">
  {{ cardProduct.title }}</a>

</div>