<div>Hello world</div>
<div id="image-slider" class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            {% for block in section.blocks %}
                <li>
                    {{ block.settings.title }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script defer src={{"https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/js/splide.min.js"}}></script>
<script>
    new Splide('#image-slider', {
        type: 'loop',
        perPage: 1,
        autoplay: true,
        interval:5000,
    }).mount();
</script>

{% schema %}
{
  "name": "captivating section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "captivating-block",
      "name": "captivating-block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "fashion"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Explore"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "captivating section"
    }
  ]
}
{% endschema %}