<h1>Hello world</h1>
<div>
    {% for block in section.settings.blocks %}
        <script>
            console.log({{block}});

        </script>      
    {% endfor %}    
</div>
{% schema %}
{
  "name": "custom Footer section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Store image"
    }
  ],
  "blocks": [
    {
      "type": "footer-block",
      "name": "footer-block",
      "settings": [
        {
            "type": "link_list",
            "id": "link-list",
            "label": "options"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom Footer section"
    }
  ]
}
{% endschema %}