<h1>{{ section.settings.title }}</h1>
{% schema %}
{
  "name": "Grid layout",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Grid layout"
    }
  ]
}
{% endschema %}