<div class="custom-grid page-width">
    <div class=custom-grid--left>
        {% render 'responsive-picture',
            desktopImage:section.settings.grid-image-1, 
        %}
    </div>
    <div class=custom-grid--right>
        <div>
            {% render 'responsive-picture',
                desktopImage:section.settings.grid-image-2, 
            %}
        </div>
        <div>
            <div>
                {% render 'responsive-picture',
                    desktopImage:section.settings.grid-image-3, 
                %}
            </div>
            <div>
                {% render 'responsive-picture',
                    desktopImage:section.settings.grid-image-4, 
                %}
            </div> 
        </div>
    </div>    
</div>    
<style>
    .custom-grid{
        width:100%;
        border:2px solid red;
    }
    .custom-grid--left,.custom-grid--right{
        width:50%;
        border:2px solid black;
    }
</style>    
{% schema %}
{
  "name": "Grid layout",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "image_picker",
        "id": "grid-image-1",
        "label": "Grid image"
    },
    {
        "type": "image_picker",
        "id": "grid-image-2",
        "label": "Grid image"
    },
    {
        "type": "image_picker",
        "id": "grid-image-3",
        "label": "Grid image"
    },
    {
        "type": "image_picker",
        "id": "grid-image-4",
        "label": "Grid image"
    }
  ],
  "presets": [
    {
      "name": "Grid layout"
    }
  ]
}
{% endschema %}