<div class="custom-grid page-width">
    <div class=custom-grid--left>
        {% render 'responsive-picture',
            desktopImage:section.settings.grid-image-1, 
        %}
        <div class="custom-grid-left--info">
            hi

        </div>    
    </div>
    <div class=custom-grid--right>
        <div>
            {% render 'responsive-picture',
                desktopImage:section.settings.grid-image-2, 
            %}
        </div>
        <div class="custom-grid-right--bottom">
            <div>
                {% render 'responsive-picture',
                    desktopImage:section.settings.grid-image-3, 
                %}
            </div> 
            <div>
                {% render 'responsive-picture',
                    desktopImage:section.settings.grid-image-4, 
                %}
            </div> 
        </div>
    </div>    
</div>    
<style>
    .custom-grid{
        width:100%;
        display:flex;
        gap:1rem;
    }
    .custom-grid--left,.custom-grid--right{
        width:50%;
    }
    .custom-grid--left picture img ,.custom-grid--right div picture img{
        width:100%;
        object-fit:cover;
        border-radius:20px;
    }
    .custom-grid--left{
        position:relative;
    }
    .custom-grid-left--info{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        border:2px solid white;
        display:flex;
        align-items:center;
        justify-content:center;

    }

    .custom-grid--right{
        display:flex;
        flex-direction:column;
    }
    .custom-grid-right--bottom{
        display:flex;
        gap:1rem

    }
</style>    
{% schema %}
{
  "name": "Grid layout",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "header",
        "content": "First grid image"
    },
    {
        "type": "image_picker",
        "id": "grid-image-1",
        "label": "Grid image"
    },
    {
        "type": "text",
        "id": "preheading-1",
        "label": "Preheading"
    },
    {
        "type": "text",
        "id": "title-1",
        "label": "Title"
    },
    {
        "type": "richtext",
        "id": "description-1",
        "label": "Description"
    },
    {
        "type": "text",
        "id": "button-label-1",
        "label": "button-label"
    },
    {
        "type": "image_picker",
        "id": "grid-image-2",
        "label": "Grid image"
    },
    {
        "type": "image_picker",
        "id": "grid-image-3",
        "label": "Grid image"
    },
    {
        "type": "image_picker",
        "id": "grid-image-4",
        "label": "Grid image"
    }
  ],
  "presets": [
    {
      "name": "Grid layout"
    }
  ]
}
{% endschema %}