<h1>Hello world</h1>
<div>
   {% for block in section.blocks %}
     <p>{{ block.settings.title }}</p>
     {% if block.settings.link_list.size > 0 %}
       <ul>
       {% for link in block.settings.link_list %}
         <li>in</li>
         <li><a href="{{ link.url }}">{{ link.title }}</a></li>
       {% endfor %}
       </ul>
     {% endif %}
   {% endfor %}    
</div>


{% schema %}
{
  "name": "custom Footer section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Store image"
    }
  ],
  "blocks": [
    {
      "type": "footer-block",
      "name": "Footer block",
      "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "placeholder": "Contact"
        },
        {
            "type": "link_list",
            "id": "link-list",
            "label": "options"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom Footer section"
    }
  ]
}
{% endschema %}