<h2>
  {% for product in section.settings.product_list %}
  {% render
     "custom-product-cart", product:product
  %}
  {% endfor %}
  <button>Generate</button>
</h2>
{% schema %}
  {
    "name": "demo productcart section",
    "settings": [
      {
        "type": "product_list",
        "id":"product_list",
        "label":"Product list"
      },
      {
        "type":"text",
        "id":"name",
        "label":"name"
      }
    ],
    "presets": [
      {
        "name": "demo productcart section"
      }
    ]
  }
{% endschema %}