<div>
{% for product in section.settings.product_list %}
  {% render
     "custom-product-cart", product:product
  %}
  {% endfor %}
  <button class="generate">Generate</button>
  <div id="appendContainer"></div>
</div>
<script>
  let btn=document.querySelector(".generate");
  btn.addEventListener("click",()=>{
    console.log("clicked");
    append();
  });


  function append(){
    fetch("/?section_id=template--14907459665984__usp_section_7dQ83b")
    .then(response=>response.text())
    .then((responseText) => {
        const html = new DOMParser().parseFromString(responseText,'text/html');
        const container = document.getElementById("appendContainer");
        const content = html.querySelector("body")
        console.log(content);
        container.innerHTML = content.innerHTML;
    })
}

</script>  
{% schema %}
  {
    "name": "demo productcart section",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type":"text",
        "id":"name",
        "label":"name"
      }
    ],
    "presets": [
      {
        "name": "demo productcart section"
      }
    ]
  }
{% endschema %}