<h2>
  {% for product in section.settings.product_list %}
  {% render
     "custom-product-cart", product:product
  %}
  {% endfor %}
  <button class="generate">Generate</button>
</h2>
<script>
  let btn=document.querySelector(".generate");
  btn.addEventListner(("click")=>{
    console.log("clicked");
  })
</script>  
{% schema %}
  {
    "name": "demo productcart section",
    "settings": [
      {
        "type": "product_list",
        "id":"product_list",
        "label":"Product list"
      },
      {
        "type":"text",
        "id":"name",
        "label":"name"
      }
    ],
    "presets": [
      {
        "name": "demo productcart section"
      }
    ]
  }
{% endschema %}