<h2>
  {% render
     "custom-product-cart", name:section.settings.name
  %}
</h2>
{% schema %}
  {
    "name": "demo productcart section",
    "settings": [
      {
        "type":"text",
        "id":"name",
        "label":"name"
      }
    ],
    "presets": [
      {
        "name": "demo productcart section"
      }
    ]
  }
{% endschema %}