<div class="letyou_know">
    <div class="letyou_know--heading_container"><h1>{{ section.settings.heading }}</h1></div>
    {% for block in section.blocks %}
        {% assign blog = block.settings.blog %}
         <h2>{{ blog.title }}</h2>
         {% render 'responsive-picture',
            desktopImage:  {{ blog.image.src }}, 
      
        %}
        <h3>{{ blog.description }}</h3>
    {% endfor %}
      
</div>    
{% schema %}
{
  "name": "letyou-know section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "blog",
      "settings": [
        {
            "type": "blog",
            "label": "Blog ",
            "id": "blog"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "letyou-know  Section"
    }
  ]
}
{% endschema %}