<div>
  <h1>Hello world</h1>
</div>
{% schema %}
{
  "name": "assignment section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Business Formal Choices"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "text",
      "id": "vendor",
      "label": "vendor",
      "default": "vendor"
     },
     {
      "type": "text",
      "id": "quantity",
      "label": "quantity",
      "default": "quantity"
     },
     {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Business Formal Choices</p>"
     },
     {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "view product"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button url"
    }     
  ],
  "presets": [
    {
      "name": "assignment Section"
    }
  ]
}
{% endschema %}