.main{
    background-color: black; 
}
.main-heading{
    color: white;
    padding: 0 5rem;
    padding-top: 2rem;
    margin: 0;
    margin-left: 15rem;
    font-weight: 900;
}
.assignment{
    padding: 5rem;
    display: flex;
    background-color: black;
}
.assignment .half{
    width: 50%;
}
.assignment .half img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    background: radial-gradient(#a92ca0 -50%, #000 75%);
}
.assignment--content{
    padding-top: 3.5rem;
}
.assignment-content--vendor{
    color: white;
    margin-bottom: 0;
}
.assignment--content div h1{
   font-weight: 900;
   word-spacing: 1rem; 
   color: #FF98ED;
   margin: 0;
   font-size: 6rem;
}
.assignment-content--quantity{
    font-size: 2.5rem;
    margin: 0;
    color: white;
}
.assignment-content--price{
    color: white;
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
}
.assignment-content--discription{
    color: gray;
    margin-top: 0.5rem;
    line-height: 2.5rem;
}
.assignment-content-discription--span{
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
}
.button-div{
    margin-top: 3rem;
}
.assignment-content--button{
    color: black;
    padding:10px 20px;
    border-radius: 5px;
    background: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
}

@media (max-width:600px) {
    .assignment{
        flex-direction: column;
    }
    .main-heading{
        margin-left: 0;
    }
    .assignment .half{
        width: 100%;
    }
    .assignment--content div h1{
        font-size: 3rem;
    }
    .assignment-content--quantity{
        font-size: 2rem;
    }
    .assignment-content--price{
        font-size: 2.5rem;
    }
    .assignment-content-discription--span{
        font-size: 2rem;
    }
    .assignment-content--button{
        padding:8px 15px;
        font-size: 1.8rem;
        margin-top: 15px;
    }
}

