#captivating-slider{
    padding: 5rem;
}
.captivating-splide-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.captivating-section-heading{
    font-weight: 800;
}
.captivating--image-container{
    height: 34rem;
    width: 26rem;
    object-fit: cover;

}
.captivating--image-container img{
    height: 34rem;
    width: 26rem;
    border-radius: 10px;
    object-fit: cover;
}
.captivating--content{
    position: absolute;
    height: 34rem;
    width: 26rem;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.captivating-content--title{
    color: white;
    font-size: 2.5rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.captivating-content--button{
    background: none;
    color: white;
    border: 0.5px solid white;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.captivating-content--button:hover{
    color: rgb(208, 60, 63);
}
.captivating-content--title:hover{
    color: rgb(208, 60, 63);

}
.captivating-content--button:after{
    box-shadow: none;
}
#captivating-slider .splide__arrow {
    background:rgb(208, 60, 63);
    opacity: 1;
    color: white;
    height: 4rem;
    width: 4rem;
}
#captivating-slider .splide__arrow--next {
    right: 3.5px;
    border-bottom-right-radius:0 ;
    border-top-right-radius: 0;
}
#captivating-slider .splide__arrow:disabled{
    opacity: 0;
}
#captivating-slider .splide__arrow--prev{
    left: 3.5px;
    border-bottom-left-radius:0 ;
    border-top-left-radius: 0;
}
#captivating-slider .splide__arrow svg {
    fill: white;
    font-size: 10px;
}

@media (max-width:1000px) {
    #captivating-slider .splide__arrow--prev{
        left: 0;
    }
    #captivating-slider .splide__arrow--next {
        right: 0;
    }
}
@media (max-width:480px) {
    #captivating-slider{
        padding: 3rem;
    }
    .captivating-section-heading{
        font-size: 2.5rem;
    }
    .captivating--image-container{
        height: 24rem;
        width: 15rem;
    }
    .captivating--image-container img{
        height: 24rem;
        width: 15rem;
    }
    .captivating--content{
        height: 24rem;
        width: 15rem;
    }
    .captivating-content--title{
        font-size: 1.8rem;
    }
    .captivating-content--button{
        padding:0;
    }
}