.letyou_know{
    padding: 5rem;
}
.letyou_know--heading_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.letyou_know--heading_container h1{
    font-weight: 900;
}
.letyou_know--heading_container .button {
    background: linear-gradient(to right, rgb(208, 60, 63) 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.4s ease;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}
.letyou_know--heading_container .button:hover {
    background-position: left bottom;
}
.letyou_know--heading_container .button:after{
    box-shadow: none;
}
.letyou_know .letyou_know--article{
    display: flex;
    width: 50%;
    height: 30rem;
    border-radius:20px ;
    border: 1px solid gray;
}
.letyou_know-article--content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
}
.letyou_know-article--content p{
    line-height: 20px;
}
.letyou_know-article-content-first--tags{
    color:rgb(208, 60, 63);
    margin:0 0 15px 0;
    font-size: 1.4rem;
    font-weight: 600;
}
.letyou_know-article-content-first--title{
    margin: 10px 0;
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
}
.letyou_know-article-content-first--author{
    margin: 0 0 10px 0;
    font-size:1.4rem ;
    color: black;
}

.letyou_know-article-content-first--excerpt{
    margin: 10px 0;
    font-size: 1.3rem;
}
.letyou_know-article-content--second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 1rem;
}
.letyou_know-article-content--second a{
    color: black;
}
.letyou_know-article-content--second p{
    margin: 0;
    color: black;
}
.letyou_know-article--image_container{
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
}
.letyou_know-article--image_container picture img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}
.letyou_know-article--image_container picture img:hover{
    transform: scale(1.1);
}




#letyou-know-splid .splide__arrow {
    background:rgb(208, 60, 63);
    opacity: 1;
    color: white;
    height: 4rem;
    width: 4rem;
    background: linear-gradient(to right, rgb(208, 60, 63) 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.4s ease;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#letyou-know-splid .splide__arrow:hover{
    background-position: left bottom;
}
#letyou-know-splid .splide__arrow--next {
    right: 0;
    border-bottom-right-radius:0 ;
    border-top-right-radius: 0;
}
#letyou-know-splid .splide__arrow:disabled{
    opacity: 0;
}
#letyou-know-splid .splide__arrow--prev{
    left: 0;
    border-bottom-left-radius:0 ;
    border-top-left-radius: 0;
}
#letyou-know-splid .splide__arrow svg {
    fill: white;
    font-size: 10px;
}