.week-6{
    padding: 0 3rem;
}
.week-6-product ,.week-6-product img{
    object-fit: cover;
    height: 30rem;
    width: 100%;
}
.week-6--content{
    width: 100%;
    padding:2rem  1rem;
}
.week-6-content--heading{
    font-weight: 600;
    font-size: 5rem;
    text-align: center;
    margin-top: 0;
}
.week-6-content--description{
    color: black;
}
.week-6-content--block{
    padding: 3rem;
    width: 28.5rem !important;
    border: 1px solid #5C6E4A;
}
.week-6-content-block--testimonialText p{
    margin: 0 0 10px 0;
    color: black;
    font-size: 1.5rem; 
}
.week-6-content-block--author{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.week-6-content-block-author--imageContainer , .week-6-content-block-author--imageContainer img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;

}
.week-6-content-block-author--details h4{
    color: #5C6E4A;
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.8rem;
}
.week-6-content-block-author--details p{
    margin: 0;
    line-height: 1.8rem;
}
.week-6--content .splide__pagination {
    bottom: -20px;
}
.week-6--content .splide__pagination__page{
    height: 0.5rem;
    width: 2rem;
    border-radius: 20px;
    margin: 6px;
}
.week-6--content .splide__pagination__page.is-active{
    height: 0.5rem;
    width: 3.5rem;
    background: #5C6E4A;
}

@media (min-width:760px) {
    .week-6{
        padding: 2rem 5rem;
        display: flex;
    }
    .week-6--content{
        padding: 4rem;
    }
    .week-6-content--heading{
        text-align: start;
        margin-bottom: 5px;
    }
    .week-6>div{
        width: 50%;
    }
    .week-6-product{
        height: 50rem;
    }
    .week-6-product img{
        height: 100%;
    }
    .week-6-content--description {
        margin-top: 0;
    }
    .week-6-content--block{
        width: 35rem !important;
    }
    .week-6-login{
        width: 12%;
        border: 2px solid black;
        border-radius: 20px;
        margin: auto;
        padding: 1rem;
    }
    .week-6-login h2{
        text-align: center;
        font-weight: 600;
    }
    .week-6-login a{
        text-align: center;
    }
}